<a href="https://colab.research.google.com/github/pallavibekal/IISC-CDS-Python/blob/main/2200092_IISC_M0_Mini_Project_03_Literacy_Rate_Prediction_v01ss.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Advanced Certification in Computational Data Science
## A Program by IISc and TalentSprint
### Mini-Project (Ungraded)

## Learning Objective

At the end of this experiment, you will be able to:

* perform Data preprocessing
* implement ML classification algorithms

## Problem Statement

We will be using district wise demographics, enrollments, and teacher indicator data to predict whether the literacy rate is high/ medium/ low in each district.

### Data Preprocessing

Data preprocessing is an important step in solving every machine learning problem. Most of
the datasets used with Machine Learning problems need to be processed / cleaned / transformed
so that a Machine Learning algorithm can be trained on it.

There are different steps involved in Data Preprocessing. These steps are as follows:

    1. Data Cleaning → In this step the primary focus is on
        - Handling missing data
        - Handling noisy data
        - Detection and removal of outliers
    
    2. Data Integration → This process is used when data is gathered from various data sources
    and data are combined to form consistent data. This data after performing cleaning is used
    for analysis.
    
    3. Data Transformation → In this step we will convert the raw data into a specified format according to the need of the model we are building. There are many options used for
    transforming the data as below:
        - Normalization
        - Aggregation
        - Generalization
        
    4. Data Reduction → Following data transformation and scaling, the redundancy within the data is removed and is organized efficiently.

In [ ]:
# @title Download the datasets
from IPython import get_ipython

ipython = get_ipython()
  
notebook="U1_MH1_Data_Munging" #name of the notebook

def setup():
    from IPython.display import HTML, display
    ipython.magic("sx wget https://cdn.iisc.talentsprint.com/aiml/Experiment_related_data/B15_Data_Munging.zip")
    ipython.magic("sx unzip B15_Data_Munging.zip")
    print("Data downloaded successfully")
    return

setup()

Data downloaded successfully

In [ ]:
!ls

sample_data

## Exercise 1 - Load and Explore the Data 
1. We have three different files

  * Districtwise_Basicdata.csv
  * Districtwise_Enrollment_details_indicator.csv
  * Districtwise_Teacher_indicator.csv

  These files contain the necessary data to solve the problem. <br>

2. Load the files based on **team allocation** mentioned below. Observe the header level details, data records while loading the data.
  
  Hint : Use read_csv from pandas with [skiprows or header](https://towardsdatascience.com/import-csv-files-as-pandas-dataframe-with-skiprows-skipfooter-usecols-index-col-and-header-fbf67a2f92a) options.

3. Read the columns of the dataset and rename if required.

  Hint : Rename column names (if any) using the following [link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

Team allocation for dataset selection

    Team A = 1,3,5,7,9
        Districtwise_Basicdata.csv
        Districtwise_Enrollment_details_indicator.csv

    Team B = 2,4,6,8,10
        Districtwise_Basicdata.csv
        Districtwise_Teacher_indicator.csv

In [ ]:
# Importing all the required packages and add neccesary imports if required
import pandas as pd
import numpy as np

In [ ]:
# YOUR CODE HERE for loading and exploring the datasets

df_basic = pd.read_csv('/content/Districtwise_Basicdata.csv')
df_t_i = pd.read_csv('/content/Districtwise_Teacher_indicator.csv')

In [ ]:
df_basic.head()

      Year State Code  ... Overall Literacy Female Literacy
0     Year    Statecd  ...      overall_lit      female_lit
1  2012-13         35  ...             High           84.52
2  2012-13         35  ...             High           79.39
3  2012-13         35  ...             High            70.7
4  2012-13         28  ...              Low           51.99

[5 rows x 19 columns]

In [ ]:
df_teacher_indicator = pd.read_csv('/content/Districtwise_Teacher_indicator.csv', skiprows=1, header=2)

In [ ]:
df_teacher_indicator.head()

   statecd  ... tch_nontch
0       35  ...        519
1       35  ...        362
2       35  ...         28
3       28  ...        263
4       28  ...       1185

[5 rows x 181 columns]

In [ ]:
# No of row and columns
df_basic_clean = pd.read_csv('/content/Districtwise_Basicdata.csv',skiprows=0,header=1)

In [ ]:
# Count of Nulls
df_basic_clean_2.shape

(1324, 19)

In [ ]:
type(df_teacher_indicator_clean)
type(df_basic_clean)

pandas.core.frame.DataFrame

In [ ]:
df_basic_clean["ysd"] = df_basic_clean["Year"].map(str) +"X"+  df_basic_clean["Statecd"].map(str) + "X" +   df_basic_clean["distcd"].map(str)    
df_basic_clean.set_index('ysd',inplace=True)
df_basic_clean.head()

                    Year  Statecd  ... overall_lit  female_lit
ysd                                ...
2012-13X35X3501  2012-13       35  ...        High       84.52
2012-13X35X3503  2012-13       35  ...        High       79.39
2012-13X35X3502  2012-13       35  ...        High       70.70
2012-13X28X2801  2012-13       28  ...         Low       51.99
2012-13X28X2822  2012-13       28  ...         Low       54.31

[5 rows x 19 columns]

In [ ]:
df_teacher_indicator["ysd"] =  df_teacher_indicator["ac_year"].map(str) +"X"+  df_teacher_indicator["statecd"].map(str) + "X"+    df_teacher_indicator["distcd"].map(str)

df_teacher_indicator.set_index('ysd',inplace=True)
df_teacher_indicator.head()

                 statecd  ... tch_nontch
ysd                       ...
2012-13X35X3501       35  ...        519
2012-13X35X3503       35  ...        362
2012-13X35X3502       35  ...         28
2012-13X28X2801       28  ...        263
2012-13X28X2822       28  ...       1185

[5 rows x 181 columns]

In [ ]:
df_teacher_district_merged = pd.merge(df_basic_clean,df_teacher_indicator,how='left',on="ysd")

In [ ]:
df_teacher_district_merged.shape

(1324, 200)

## Exercise 3 - Data Cleaning 

1.  **overall_lit** is our target variable. Delete rows with missing overall_lit value

   Hint: Refer to the link [dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).


2.  Convert categorical values to numerical values.

  For example, if a feature contains categorical values such as dog, cat, mouse, etc then replace them with 1, 2, 3, etc or use [Sklearn LabelEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html) 

3. Replace the missing values in any other column appropriately with mean / median / mode.

  Hint: Use pandas [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) function to replace the missing values

In [ ]:
# Check unique values in value_counts()

df_teacher_district_merged['overall_lit'].value_counts()
df_teacher_district_merged.describe()

           Statecd     distcd_x  ...  days_nontch    tch_nontch
count  1324.000000  1324.000000  ...  1324.000000   1324.000000
mean     17.108761  1727.391239  ...    17.771903    450.216767
std       9.341604   933.187369  ...    15.482736   1127.289940
min       1.000000   101.000000  ...     0.000000      0.000000
25%       9.000000   933.000000  ...     9.000000     49.750000
50%      18.000000  1822.500000  ...    14.000000    139.000000
75%      24.000000  2410.000000  ...    22.000000    404.500000
max      35.000000  3503.000000  ...   205.000000  17044.000000

[8 rows x 193 columns]

In [ ]:
df_teacher_district_merged["overall_lit"].isna().sum()

56

In [ ]:
df_teacher_district_merged_dropped.shape

(1268, 201)

In [ ]:
# Delete rows where Overall Literacy is missing

df_teacher_district_merged_dropped = df_teacher_district_merged.dropna(subset=['overall_lit'])

In [ ]:
df_teacher_district_merged_dropped["overall_lit"].isna().sum()

0

In [ ]:
print("before:", df_teacher_district_merged.shape[0])
print("after:", df_teacher_district_merged_dropped.shape[0])

before: 1324
after: 1268

In [ ]:
df_teacher_district_merged_dropped.shape

(1268, 200)

In [ ]:
df_teacher_district_merged_dropped["overall_lit"].value_counts()

High      538
Medium    468
Low       262
Name: overall_lit, dtype: int64

In [ ]:
# Label encoding for Overall Literacy

# We have only encoded overall literacy as all the columns in teachers dataset were numeric. 
# Moreover state and district columns were already encoded so we will drop the State and District Name columns during the modelling phase

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_teacher_district_merged_dropped["overall_lit"])

label = le.transform(df_teacher_district_merged_dropped["overall_lit"])
df_teacher_district_merged_dropped["overall_lit_label"] = label
df_teacher_district_merged_dropped

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

                    Year  Statecd  ... tch_nontch  overall_lit_label
ysd                                ...
2012-13X35X3501  2012-13       35  ...        519                  0
2012-13X35X3503  2012-13       35  ...        362                  0
2012-13X35X3502  2012-13       35  ...         28                  0
2012-13X28X2801  2012-13       28  ...        263                  1
2012-13X28X2822  2012-13       28  ...       1185                  1
...                  ...      ...  ...        ...                ...
2013-14X19X1919  2013-14       19  ...       1615                  0
2013-14X19X1914  2013-14       19  ...        878                  2
2013-14X19X1921  2013-14       19  ...        108                  0
2013-14X19X1918  2013-14       19  ...       3591                  0
2013-14X19X1904  2013-14       19  ...       2243                  1

[1268 rows x 201 columns]

In [ ]:
# Validate counts by encoded values

df_teacher_district_merged_dropped['overall_lit_label'].value_counts()

0    538
2    468
1    262
Name: overall_lit_label, dtype: int64

In [ ]:
# Print all columns with missing values after dropping rows with N/A Overall Literacy 

columns = df_teacher_district_merged_dropped.columns
for each in columns:
  if df_teacher_district_merged_dropped[each].isna().sum() > 0:
    print(each,df_teacher_district_merged_dropped[each].isna().sum())

In [ ]:
df_teacher_district_merged_dropped.describe()

           Statecd     distcd_x  ...    tch_nontch  overall_lit_label
count  1268.000000  1268.000000  ...   1268.000000        1268.000000
mean     17.033123  1719.417981  ...    464.907729           0.944795
std       9.417301   940.908552  ...   1149.245227           0.889355
min       1.000000   101.000000  ...      0.000000           0.000000
25%       9.000000   928.000000  ...     50.000000           0.000000
50%      18.000000  1818.500000  ...    147.000000           1.000000
75%      24.000000  2413.000000  ...    429.000000           2.000000
max      35.000000  3503.000000  ...  17044.000000           2.000000

[8 rows x 194 columns]

In [ ]:
# Fill all columns with missing values with mean ()

columns = df_teacher_district_merged_dropped.columns
for each in columns:
  if df_teacher_district_merged_dropped[each].isna().sum() > 0:
    df_teacher_district_merged_dropped[each].fillna(df_teacher_district_merged_dropped[each].mean(),inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
# All values are now imputed 
df_teacher_district_merged_dropped.isna().sum()

Year                 0
Statecd              0
statename_x          0
distcd_x             0
distname_x           0
                    ..
prof_trn_tch_r       0
prof_trn_tch_p       0
days_nontch          0
tch_nontch           0
overall_lit_label    0
Length: 201, dtype: int64

In [ ]:
#Souvik's code to check numerics vs. categorical 

nonNumeric = (df_teacher_district_merged_dropped.dtypes != 'int64')
df_teacher_district_merged_dropped.dtypes[nonNumeric]

Year              object
statename_x       object
distname_x        object
totpopulation    float64
p_06_pop         float64
p_urb_pop        float64
sexratio         float64
sexratio_06      float64
growthrate       float64
p_sc_pop         float64
p_st_pop         float64
overall_lit       object
female_lit       float64
statename_y       object
distname_y        object
ac_year           object
dtype: object

## Exercise 4 

1. Remove the unneccesary columns which are not contributing to the overall literacy rate

2. Verify if there are any duplicate columns and remove them.

  For example: state name and district name are same as state code and district code.

3. Make sure that the final dataframe has no null or nan values. Delete the rows with missing values.

   Hint: Verify with df.isna() for nan values in the dataframe.

In [ ]:
df_teacher_district_imputed = df_teacher_district_merged_dropped

In [ ]:
df_teacher_district_imputed.head()

                    Year  Statecd  ... tch_nontch  overall_lit_label
ysd                                ...
2012-13X35X3501  2012-13       35  ...        519                  0
2012-13X35X3503  2012-13       35  ...        362                  0
2012-13X35X3502  2012-13       35  ...         28                  0
2012-13X28X2801  2012-13       28  ...        263                  1
2012-13X28X2822  2012-13       28  ...       1185                  1

[5 rows x 201 columns]

In [ ]:
# Remove irrelevant columns from the dataframe

df_teacher_district_deduped = df_teacher_district_imputed.drop(['statecd','statename_y','distcd_y','distname_y','ac_year','statename_x','distname_x','overall_lit'], axis='columns')

In [ ]:
df_teacher_district_deduped.head()

                    Year  Statecd  ...  overall_lit_label  Year_label
ysd                                ...
2012-13X35X3501  2012-13       35  ...                  0           0
2012-13X35X3503  2012-13       35  ...                  0           0
2012-13X35X3502  2012-13       35  ...                  0           0
2012-13X28X2801  2012-13       28  ...                  1           0
2012-13X28X2822  2012-13       28  ...                  1           0

[5 rows x 194 columns]

In [ ]:
# Encode Year column  - TBD: Create a function at a later point 

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_teacher_district_deduped["Year"])

label = le.transform(df_teacher_district_deduped["Year"])
df_teacher_district_deduped["Year_label"] = label

In [ ]:
# Year label  => 0 for 2012 - 13 , 1 for 2013-14 ; We can also use inverse transform to get the original values

print(list(le.classes_))

['2012-13', '2013-14']

In [ ]:
df_teacher_district_deduped_2= df_teacher_district_deduped.drop(['Year'], axis='columns')

In [ ]:
df_teacher_district_deduped_2["Year_label"].value_counts()

1    634
0    634
Name: Year_label, dtype: int64

In [ ]:
df_teacher_district_deduped_2.shape

(1268, 193)

## Exercise 5 - Apply Correlation Matrix

Correlation is a statistical technique that can show whether, and how strongly, pairs of variables are related. More number of features does not imply better accuracy. More features may lead to a decline in the accuracy and create noise in the model, if they contain any irrelevant features.

*Features with high correlation value will imply the same meaning. Hence remove the highly correlated features*

**Function Description:**

Create a function `remove_Highly_Correlated()` function, which removes highly correlated features in the dataframe.
- Creates a correlation matrix of row and column wise features
- Extracts only upper triangular matrix as correlation matrix, which will have the same values below and above the diagonal
- Removes columns which are having correlation value more than the threshold value.

In [ ]:
def remove_Highly_Correlated(df, bar=0.9):
  # Creates correlation matrix
  corr = df.corr()

  # Set Up Mask To Hide Upper Triangle
  mask = np.triu(np.ones_like(corr, dtype=bool))
  tri_df = corr.mask(mask)

  # Finding features with correlation value more than specified threshold value (bar=0.9)
  highly_cor_col = [col for col in tri_df.columns if any(tri_df[col] > bar )]
  print("length of highly correlated columns",len(highly_cor_col))

  # Drop the highly correlated columns
  reduced_df = df.drop(highly_cor_col, axis = 1)
  print("shape of total data",df.shape,"shape of reduced data",reduced_df.shape)
  return reduced_df

In [ ]:
# Removed correlated columns ; we can also play around with the threshold of correlation values and doa quick review of columns that were dropped

df_teachers_districts_removed_correlated =remove_Highly_Correlated(df_teacher_district_deduped_2)

length of highly correlated columns 26
shape of total data (1268, 193) shape of reduced data (1268, 167)

In [ ]:
df_teachers_districts_removed_correlated.head()

                 distcd_x  blocks  ...  overall_lit_label  Year_label
ysd                                ...
2012-13X35X3501      3501       3  ...                  0           0
2012-13X35X3503      3503       3  ...                  0           0
2012-13X35X3502      3502       3  ...                  0           0
2012-13X28X2801      2801      52  ...                  1           0
2012-13X28X2822      2822      63  ...                  1           0

[5 rows x 167 columns]

## Exercise 6

Perform Mean Correction and Standard Scaling on the data feature/column wise.

**Hint:** In order to understand the idea behind the terms used above, you may refer the following link: 

[StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

In [ ]:
from sklearn.preprocessing import StandardScaler

# Scale all but distcd_x (Column 1),  overall_lit_label (Second last column), Year_label  (last column)

columns = df_teachers_districts_removed_correlated.columns[1:-2]
columns

Index(['blocks', 'clusters', 'villages', 'totschools', 'p_06_pop', 'p_urb_pop',
       'sexratio', 'sexratio_06', 'growthrate', 'p_sc_pop',
       ...
       'trn_tch_f2', 'trn_tch_f3', 'trn_tch_f4', 'trn_tch_f5', 'trn_tch_f6',
       'trn_tch_f7', 'prof_trn_tch_r', 'prof_trn_tch_p', 'days_nontch',
       'tch_nontch'],
      dtype='object', length=164)

In [ ]:
scaler = StandardScaler()

scaler.fit(df_teachers_districts_removed_correlated[columns])
df_teachers_districts_removed_correlated[columns] = scaler.transform(df_teachers_districts_removed_correlated[columns])

In [ ]:
df_teachers_districts_removed_correlated.shape

(1268, 167)

## Exercise 7

Apply different classifiers on the preprocessed data and figure out which classifier gives the best result.

* Split the data into train and test

* Fit the model with train data and find its accuracy on test data

### Expected Accuracy is above 90%

In [ ]:
import pandas as pd
import numpy as np
import graphviz
import matplotlib.pyplot as plt
# Exporting the model into a dot file
import os
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [ ]:
columns = df_teachers_districts_removed_correlated.columns
rows, columns = df_teachers_districts_removed_correlated.shape

# We can also remove female literacy later but included for the time being
features = df_teachers_districts_removed_correlated.drop(['overall_lit_label','distcd_x','Year_label'],axis=1).values


# Remove overall_lit_label, female_lit

#for each in columns:
  #if each == "overall_lit_label"

type(features)

numpy.ndarray

In [ ]:
features

array([[-0.82844455, -1.10918026, -1.30722592, ..., -0.29368657,
        -0.35920906,  0.04708622],
       [-0.82844455, -1.13870707, -1.31826245, ..., -0.32900874,
        -0.61851854, -0.08957908],
       [-0.82844455, -1.18791842, -1.37186846, ..., -0.50561959,
         0.15940989, -0.38031928],
       ...,
       [-0.62429185, -0.68596269, -0.8704946 , ..., -0.44345257,
        -0.29438169, -0.31068091],
       [ 2.54007489,  2.15845309,  4.46172673, ...,  0.38873775,
         0.22423725,  2.72119963],
       [ 0.19231892, -0.13479562,  0.3451005 , ..., -0.26260306,
         0.61320146,  1.54779309]])

In [ ]:
labels = df_teachers_districts_removed_correlated.loc[:,['overall_lit_label']].values

In [ ]:
# print(features)
# print(labels)

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(features,labels,test_size=0.2)

X_train
X_test

array([[ 1.41723508,  0.74116633,  2.03211316, ...,  0.51731045,
        -0.61851854, -0.19925951],
       [-0.62429185, -0.50880185,  0.168516  , ..., -0.46040722,
         0.22423725,  0.68166587],
       [-0.52221551, -0.331641  ,  0.46807899, ..., -0.13826902,
        -0.55369117, -0.33766577],
       ...,
       [-0.52221551, -0.67612042, -1.26465644, ..., -0.30357678,
        -0.22955433, -0.38031928],
       [-0.21598647,  0.41637145,  1.07193493, ..., -0.47736186,
         0.02975515, -0.33679529],
       [-0.21598647, -0.30211419,  0.4649257 , ..., -0.61582476,
         1.19664778, -0.27934364]])

In [ ]:
#Creating a classifier object

clf = tree.DecisionTreeClassifier(criterion='entropy')
clf = clf.fit(X_train,y_train)

# Prediction for Test data

pred = clf.predict(X_test)
accuracy_score(y_test, pred)

0.937007874015748

In [ ]:
#Logistic Regression

logreg = LogisticRegression()

logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.8700787401574803